# Peer-graded Assignment title

This is the intro

list of data science languages:
python
R
SQL
Java
Scala
Julia

list of data science libraries:
scikit-learn
TensorFlow
PyTorch
Theano
Caffe

list of data science tools:
MATLAB
Apache Spark
Tableau

An example of an arithmetic expression:
+
-
/
*

In [5]:
x = 5+10
y = 5*10
print(x)
print(y)

15
50

In [ ]:
hours = minutes // 60
minutes_left = minutes % 60

list of objectives:
Create a markdown cell with the title of the notebook.
Create a markdown cell for an introduction.
Create a markdown cell to list data science languages.
Create a markdown cell to list data science libraries.
Create a markdown cell with a table of Data Science tools.
Create a markdown cell introducing arithmetic expression examples.
Create a code cell to multiply and add numbers.
Create a code cell to convert minutes to hours.

Author: Melvin Gary